.title-demo {
  height: calc(1em + 5vh);
  background-color: rgb(227, 244, 253, 0.33);
  color: #1d3756;
  font-size: calc(1em + 5vh);
  font-weight: bold;
  line-height: calc(1em + 5vh);
  padding-left: 10vw;
}

.embed-iframe {
  height: calc(1em + 85vh) !important;
}
