.title-demo {
  height: 10vh;
  background-color: rgb(227, 244, 253, 0.33);
  color: #1d3756;
  font-size: 5em;
  font-weight: bold;
  line-height: 10vh;
  padding-left: 10%;
}

.embed-iframe {
  height: 90vh !important;
}
