.intro-bg {
  background-image: url("./One-Peak-Grey-Right-Side.png");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: 150% 0;
  background-size: auto 100%;
  min-height: 100vh;
}
