.intro-bg {
  background-image: url(/static/media/One-Peak-Grey-Right-Side.96a102e6.png);
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: 150% 0;
  background-size: auto 100%;
  min-height: 100vh;
}

.title-intro {
  height: 33vh;
  background-color: rgb(227, 244, 253, 0.33);
  color: #1d3756;
  font-size: 5em;
  font-weight: bold;
  line-height: 33vh;
  padding-left: 10%;
}

.list-intro {
  color: #626366;
  font-size: 3em !important;
  font-weight: bold !important;
  padding-left: 10% !important;
  margin-top: auto !important;
}

.list-item-intro:before {
  margin-left: -2.5rem !important;
}
